/* 
    authentification.css
*/

/*article{background-color: black; color:white;}*/

table{border-collapse:collapse;}
caption, th, td{border:1px solid black;}
td, th{padding: 5px;}

#catalogue{float: left;}

#panier{float: left; margin-left: 1em;}
#titreContenuDuPanier{margin-left: 1em;}
#divContenuDuPanier{float: left; border: 1px solid black; width: 300px; height: 200px; margin-left: 1em;}
#contenuDuPanier{width: 300px; height: 200px;}

.nettoyeur{clear: both;}

/*.imagePanier{position: relative;}*/
